* {
  margin: 0;
  font-family: roboto;
}

body {
  background-color: #393939;
}

p, h1, a {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}

h1 {
  color: #ff133e;
  height: 50px;
}

p {
  color: white;
  margin-bottom: 10px;
}

a {
  color: white;
  display: block;
  margin: 0 auto;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: color 500ms, -webkit-transform 500ms;
  transition: color 500ms, -webkit-transform 500ms;
  transition: transform 500ms, color 500ms;
  transition: transform 500ms, color 500ms, -webkit-transform 500ms;
}

a:hover:not(#nav-hyperlink), a:focus:not(#nav-hyperlink) {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: #ff133e;
}

div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input, button, select {
  border-radius: 8px;
  border: none;
}

input {
  margin-right: 10px;
  width: 100px;
  text-align: center;
}

button {
  cursor: pointer;
  -webkit-transition: background-color 500ms, color 500ms;
  transition: background-color 500ms, color 500ms;
}

button:hover, button:focus {
  background-color: #ff133e;
  color: white;
}

select {
  margin-right: 10px;
}

nav {
  height: 60px;
  width: 100%;
  background-image: linear-gradient(45deg, #f40925, #f40983);
  background-size: 300%;
  -webkit-animation: gradient 3s infinite alternate;
          animation: gradient 3s infinite alternate;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav p a {
  height: auto;
  color: white;
  font-size: 35px;
  font-family: marker;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  text-decoration: none;
}

#go-back {
  margin-top: 20px;
}

@font-face {
  font-family: roboto;
  src: url(./Fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: marker;
  src: url(./Fonts/PermanentMarker-Regular.ttf);
}

@-webkit-keyframes gradient {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes gradient {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@-webkit-keyframes result {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes result {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@media only screen and (max-width: 320px) {
  input {
    width: 70px;
  }
}
/*# sourceMappingURL=style.css.map */